<h1><%= @track.title %></h1>
 
<p>
  Author: <%= @track.author %>
</p>
 
<p>
  URL: <%= @track.url  %>
</p>

<p>
  Created at: <%= @track.created_at %>
</p>

<p>
  Updated at: <%= @track.updated_at %>
</p>
 
<hr/>
<a href="/tracks">Back to All Tracks</a>